doctype html
html(ng-app="GitUserSearch")
  head
    title= title
    script(src="javascripts/bower_components/jquery/dist/jquery.js")
    script(src="javascripts/bower_components/angular/angular.js")
    script(src="javascripts/bower_components/angular-resource/angular-resource.js")
    script(src="/javascripts/myapp.js")
    script(src="/javascripts/gitUserSearchController.js")
  body(ng-controller="GitUserSearchController")
    block content